{%extends "base.html" %} 
 {% block title %}Home{% endblock %} 
 
 {% block content %}
<h1>Welcome to Notesapp!</h1>
<br />
<br />
<a>Just login and start taking notes</a>

<h1 align="center" >Notes </h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in  user.notes %}
    <li class = "list-group-item">{{note.data }}</li>
    {% endfor %}
</ul>

 <form method="post">
    <textarea name="note" id = "note" class = "form-control"></textarea>
    <br />
    <div align= "center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
 </form>
 {% endblock %} 
